{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": false,
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      }
    }],
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}